---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro';

import AboutContent, { frontmatter } from '../content/pages/about.mdx';

import AboutHeading from '../components/AboutHeading.astro';

import portrait from '../images/carl-avidano-16x9.jpg';

const { title, description, portraitAlt, profile } = frontmatter;
const phoneHref = `tel:${profile.phone.replace(/[^\d+]/g, '')}`;
const mdxComponents = {
  h1: AboutHeading
};
---
<Layout title={title} description={description} image={portrait} imageAlt={portraitAlt}>

  <Header />

  <main class="container wide" id="skip-header-target">
    
    <div class="margin-y-5 position-relative">
      <Image
        class="project-image"
        src={portrait}
        alt={portraitAlt}
        loading="eager"
        fetchpriority="high"
      />
    </div>

    <article class="border-top padding-y-4">
      
      <div class="grid grid--column-4--lg gap-3">
        <div class="grid__colspan-3 grid__colspan-2--xl order-2--xl">
          
          <AboutContent components={mdxComponents} />

          <a class="button button--has-icon button--outline font-size-md" href="/resume-carl-avidano.pdf" download>
            <span class="icon icon-file-download" aria-hidden="true"></span>
            <span class="button__text">Download Resume (PDF)</span>
          </a>

        </div>

        <div class="grid__colspan-2--xl order-1--xl">
          
          <div class="grid grid--column-2--xl gap-3">
            
            <div>
              <p class="h6">{profile.name}</p>
              <p>{profile.pronouns}</p>
            </div>

            <div class="font-size-md">

                <p class="margin-bottom-2">
                  <strong>
                    {profile.location}
                  </strong>
                </p>

                <ul class="nav gap-2">
                  <li>
                    <a href={`mailto:${profile.email}`}>{profile.email}</a>
                  </li>
                  <li>
                    <a href='https://www.linkedin.com/in/carlavidano/' target='_blank' rel='noreferrer'>
                      LinkedIn
                    </a>
                  </li>
                  <li>
                    <a href={phoneHref}>
                      {profile.phone}
                    </a>
                  </li>
                </ul>

            </div>

          </div>
        
        </div>
      
      </div>
    
    </article>
  
  </main>

</Layout>
